body {
    background-color: #888 !important;
    color: #ffffff !important;
    border: #ffffff !important;
}

input,
textarea,
select {
    background-color: #353839 !important;
    color: #ffffff !important;
}

table,
td,
th,
tr {
    border: 1px solid #ffffff;
    background-color: #353839;
    color: #ffffff;
}

label {
    color: #999 !important;
}